:root {
  --dark-blue: #363f5f;
  --green: rgba(51, 207, 129, 0.856);
   
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: 'Poppins' , sans-serif, helvetica;
}

.sr-only{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 950px); /*procura o menor valor entre os dois*/
  margin: auto;
}
/*Links & Buttons =========================== */

a {
  color:  rgba(51, 207, 129, 0.856);
  text-decoration: none;
}

a:hover{
  color: rgba(126, 236, 181, 0.856);
}

button {
  width: 100%;
  height: 50px;

  border: none;
  color:white;
  background: var(--green);

  padding: 0;

  border-radius: 0.25rem;

  cursor: pointer;
}

button:hover {
  background-color: rgba(120, 226, 173, 0.966);
}

.button.new-transaction {
  display: inline-block;
  margin-bottom: .8rem;
}

.button.cancel{
  color: #e92929;
  border: 2px #e92929 solid;
  border-radius: 0.25rem;

  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.button.cancel:hover {
  opacity: 1;
}

.remove {
  text-align: right;
}

.remove :hover{
  cursor: pointer;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);

  font-weight: normal;
}

.card h3 {
  font-weight: normal;
  font-size: 1rem; 

  display: flex;
  align-items: center;
  justify-content:space-between;
}

.card p {
  font-size: 2rem;
  line-height: 3rem;
}

header {
  background: #20B2AA;
  padding: 2rem 0 10rem;
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: 100;
}

.card{
  background-color: #fff;
  border-radius: 0.2rem;
  padding: 1rem 1rem 1rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  width: 100%;
  
}

.card.total {
  background-color: #008080;
  color: #fff;
}

#transactions {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin-top: 2rem;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
}



table th {
  background: rgba(250, 250, 250, 0.822);
  opacity: 0.8;
  border-radius: 0.3rem;
  text-align: left;

  color: var(--dark-blue);
  font-weight: normal;
  padding: 1rem 2rem;
  
}

table  tbody tr {
  opacity: 0.72;
}

table tbody tr:hover {
  opacity: 1;
}


table td{
  border-radius: 0.3rem;
  background-color: #fff;
  text-align: left; 
  padding: 0.5rem 1.5rem;

}

.date {
  text-align: right;
}

.value {
  text-align: center;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12a454;
}

td.expense {
  color: #e92929;
}


#balance {
  
  margin-top: -7rem;
  margin-right: 1rem;
}

#balance h2 {
  color: #fff;
  margin-top: 0;
}

/*Modal==========================*/
.modal-overlay {
  width: 100%;
  height: 100%;

  background-color:rgba(0, 0, 0, 0.7);

  position: fixed;
  top: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: #F0F2F5;
  padding: 2.4rem;

  position: relative;
  z-index: 10;
}

/*form =============================*/
#form{
  max-width: 500px;
}

#form h2 {
  margin-top: 0;
}

input {
  border: none;
  border-radius: 0.2rem;

  padding: 0.8rem;

  width: 100%;
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button{
  width: 48%;
}



/*Footer======================*/
footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);

  opacity: 0.6;
 
}

/*responsive*/

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }

  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

}


/*Funcionalidade nova*/


.button.new-goals {
  display: inline-block;
  margin-bottom: .8rem;
}

#goals {
  display: block; 
  width: 100%;
  overflow-x: auto;
  margin-top: 2rem;
}

#goals td{
  padding: 1.5rem;
}


